.main-content {
  background-color: rgba(1, 119, 181, 0.9);
  border: 1px solid #0177b5;
  float: right;
  min-height: 400px;
  padding: 10px;
  color: white;
  width: 75%;
}
.main-content h3 {
  font-weight: bold;
  text-align: center;
}
.main-content h5 {
  padding: 10px 10px 20px 10px;
}
.main-content .tech-data {
  min-height: 200px;
  float: left;
  margin: 5px;
  width: 100%;
}
.main-content .tech-data .tech-group {
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 10px;
}
.main-content .tech-data .tech-group-list {
  list-style-type: none;
  padding-left: 0;
  text-align: center;
}
.main-content .tech-data .tech-group-list .tech-wrapper {
  float: left;
}
.main-content .tech-data .tech-group-list .tech-wrapper .tech-image {
  margin-right: 5px;
}
.main-content .tech-data .tech-group-list .tech-wrapper .sfLogo {
  width: 130px;
  height: 125px;
  background: url("../images/sprite_tech2.png") -100px -50px;
}
.main-content .tech-data .tech-group-list .tech-wrapper .laravelLogo {
  width: 170px;
  height: 120px;
  background: url("../images/sprite_tech2.png") -470px -180px;
}
.main-content .tech-data .tech-group-list .tech-wrapper .ciLogo {
  width: 100px;
  height: 130px;
  background: url("../images/sprite_tech2.png") 0 -50px;
}
.main-content .tech-data .tech-group-list .tech-wrapper .nodejsLogo {
  width: 210px;
  height: 130px;
  background: url("../images/sprite_tech2.png") -400px -1920px;
}
.main-content .tech-data .tech-group-list .tech-wrapper .reactLogo {
  width: 130px;
  height: 120px;
  background: url("../images/sprite_tech2.png") -5px -1800px;
}
.main-content .tech-data .tech-group-list .tech-wrapper .mysqlLogo {
  width: 180px;
  height: 140px;
  background: url("../images/sprite_tech2.png") -125px -1660px;
}
.main-content .tech-data .tech-group-list .tech-wrapper .redisLogo {
  width: 150px;
  height: 120px;
  background: url("../images/sprite_tech2.png") -320px -1670px;
}
.main-content .tech-data .tech-group-list .tech-wrapper .memcachedLogo {
  width: 120px;
  height: 120px;
  background: url("../images/sprite_tech2.png") -130px -1800px;
}
.main-content .tech-data .tech-group-list .tech-wrapper .githubLogo {
  width: 120px;
  height: 120px;
  background: url("../images/sprite_tech2.png") -270px -1795px;
}
.main-content .tech-data .tech-group-list .tech-wrapper .gitlabLogo {
  width: 140px;
  height: 120px;
  background: url("../images/sprite_tech2.png") -1290px -40px;
}
.main-content .tech-data .tech-group-list .tech-wrapper .bitbucketLogo {
  width: 120px;
  height: 130px;
  background: url("../images/sprite_tech2.png") -5px -1660px;
}
.main-content .tech-data .tech-group-list .tech-wrapper .svnLogo {
  width: 200px;
  height: 130px;
  background: url("../images/sprite_tech2.png") -1090px -50px;
}
.main-content .tech-data .tech-group-list .tech-wrapper .cssLogo {
  width: 100px;
  height: 130px;
  background: url("../images/sprite_tech2.png") -990px -170px;
}
.main-content .tech-data .tech-group-list .tech-wrapper .sassLogo {
  width: 120px;
  height: 100px;
  background: url("../images/sprite_tech2.png") 0 -180px;
}
.main-content .tech-data .tech-group-list .tech-wrapper .lessLogo {
  width: 120px;
  height: 120px;
  background: url("../images/sprite_tech2.png") -130px -175px;
}
.main-content .tech-data .tech-group-list .tech-wrapper .jsLogo {
  width: 100px;
  height: 130px;
  background: url("../images/sprite_tech2.png") -1100px -170px;
}
.main-content .tech-data .tech-group-list .tech-wrapper .jqueryLogo {
  width: 100px;
  height: 110px;
  background: url("../images/sprite_tech2.png") -420px -1800px;
}
.main-content .tech-data .tech-group-list .tech-wrapper .npmLogo {
  width: 250px;
  height: 110px;
  background: url("../images/sprite_tech2.png") 0 -1930px;
}
.main-content .tech-data .tech-group-list .tech-wrapper .yarnLogo {
  width: 145px;
  height: 145px;
  background: url("../images/sprite_tech2.png") -250px -1920px;
}
.main-content .tech-data .tech-group-list .tech-wrapper .gruntLogo {
  width: 100px;
  height: 120px;
  background: url("../images/sprite_tech2.png") -530px -1800px;
}
.main-content .tech-data .tech-group-list .tech-wrapper .dockerLogo {
  width: 150px;
  height: 120px;
  background: url("../images/sprite_tech2.png") -470px -1670px;
}
.main-content .tech-data .tech-group-list .tech-wrapper .vagrantLogo {
  width: 120px;
  height: 120px;
  background: url("../images/sprite_tech2.png") -230px -50px;
}

@media only screen and (max-width: 768px) {
  .main-content {
    width: 100%;
  }
  .main-content .tech-data {
    width: 100%;
  }
  .main-content .tech-data .tech-group {
    text-align: center;
  }
  .main-content .tech-data .tech-group-list {
    margin-bottom: 20px;
  }
  .main-content .tech-data .tech-group-list .tech-wrapper {
    width: 100%;
    padding-bottom: 5px;
  }
  .main-content .tech-data .tech-group-list .tech-wrapper .tech-image {
    margin: 0 auto;
  }
  .main-content .tech-data .tech-group-list .tech-wrapper .sfLogo {
    width: 143px;
    height: 143px;
    background: url("../images/sprite_tech.png") -110px -50px;
  }
  .main-content .tech-data .tech-group-list .tech-wrapper .laravelLogo {
    width: 190px;
    height: 130px;
    background: url("../images/sprite_tech.png") -520px -200px;
  }
  .main-content .tech-data .tech-group-list .tech-wrapper .ciLogo {
    width: 115px;
    height: 130px;
    background: url("../images/sprite_tech.png") 0 -50px;
  }
  .main-content .tech-data .tech-group-list .tech-wrapper .reactLogo {
    width: 140px;
    height: 140px;
    background: url("../images/sprite_tech.png") -5px -1710px;
  }
}

/*# sourceMappingURL=main-content.css.map */
