.main-content {
    background-color: rgba(1, 119, 181, 0.9);
    border: 1px solid #0177b5;
    float: right;
    min-height: 400px;
    padding: 10px;
    color: white;
    width: 75%;

    h3 {
        font-weight: bold;
        text-align: center;
    }

    h5 {
        padding: 10px 10px 20px 10px;
    }

    .tech-data {
        min-height: 200px;
        float: left;
        margin: 5px;
        width: 100%;

        .tech-group {
            font-weight: bold;
            text-decoration: underline;
            margin-bottom: 10px;
        }

        .tech-group-list {
            list-style-type: none;
            padding-left: 0;
            text-align: center;

            .tech-wrapper {
                float: left;

                .tech-image {
                    margin-right: 5px; 
                }

                .sfLogo {
                    width: 130px;
                    height: 125px;
                    background: url('../images/sprite_tech2.png') -100px -50px;
                }

                .laravelLogo {
                    width: 170px;
                    height: 120px;
                    background: url('../images/sprite_tech2.png') -470px -180px;
                }

                .ciLogo {
                    width: 100px;
                    height: 130px;
                    background: url('../images/sprite_tech2.png') 0 -50px;
                }

                .nodejsLogo {
                    width: 210px;
                    height: 130px;
                    background: url('../images/sprite_tech2.png') -400px -1920px;
                }

                .reactLogo {
                    width: 130px;
                    height: 120px;
                    background: url('../images/sprite_tech2.png') -5px -1800px;
                }

                .mysqlLogo {
                    width: 180px;
                    height: 140px;
                    background: url('../images/sprite_tech2.png') -125px -1660px;
                }

                .redisLogo {
                    width: 150px;
                    height: 120px;
                    background: url('../images/sprite_tech2.png') -320px -1670px;
                }

                .memcachedLogo {
                    width: 120px;
                    height: 120px;
                    background: url('../images/sprite_tech2.png') -130px -1800px;
                }

                .githubLogo {
                    width: 120px;
                    height: 120px;
                    background: url('../images/sprite_tech2.png') -270px -1795px;
                }

                .gitlabLogo {
                    width: 140px;
                    height: 120px;
                    background: url('../images/sprite_tech2.png') -1290px -40px;
                }

                .bitbucketLogo {
                    width: 120px;
                    height: 130px;
                    background: url('../images/sprite_tech2.png') -5px -1660px;
                }

                .svnLogo {
                    width: 200px;
                    height: 130px;
                    background: url('../images/sprite_tech2.png') -1090px -50px;
                }

                .cssLogo {
                    width: 100px;
                    height: 130px;
                    background: url('../images/sprite_tech2.png') -990px -170px;
                }

                .sassLogo {
                    width: 120px;
                    height: 100px;
                    background: url('../images/sprite_tech2.png') 0 -180px;
                }

                .lessLogo {
                    width: 120px;
                    height: 120px;
                    background: url('../images/sprite_tech2.png') -130px -175px;
                }

                .jsLogo {
                    width: 100px;
                    height: 130px;
                    background: url('../images/sprite_tech2.png') -1100px -170px;
                }

                .jqueryLogo {
                    width: 100px;
                    height: 110px;
                    background: url('../images/sprite_tech2.png') -420px -1800px;
                }

                .npmLogo {
                    width: 250px;
                    height: 110px;
                    background: url('../images/sprite_tech2.png') 0 -1930px;
                }

                .yarnLogo {
                    width: 145px;
                    height: 145px;
                    background: url('../images/sprite_tech2.png') -250px -1920px;
                }

                .gruntLogo {
                    width: 100px;
                    height: 120px;
                    background: url('../images/sprite_tech2.png') -530px -1800px;
                }

                .dockerLogo {
                    width: 150px;
                    height: 120px;
                    background: url('../images/sprite_tech2.png') -470px -1670px;
                }

                .vagrantLogo {
                    width: 120px;
                    height: 120px;
                    background: url('../images/sprite_tech2.png') -230px -50px;
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .main-content {
        width: 100%;

        .tech-data {
            width: 100%;

            .tech-group {
                text-align: center;
            }

            .tech-group-list {
                margin-bottom: 20px;
                
                .tech-wrapper {
                    width: 100%;
                    padding-bottom: 5px;

                    .tech-image {
                        margin: 0 auto; 
                    }

                    .sfLogo {
                        width: 143px;
                        height: 143px;
                        background: url('../images/sprite_tech.png') -110px -50px;
                    }

                    .laravelLogo {
                        width: 190px;
                        height: 130px;
                        background: url('../images/sprite_tech.png') -520px -200px;
                    }

                    .ciLogo {
                        width: 115px;
                        height: 130px;
                        background: url('../images/sprite_tech.png') 0 -50px;
                    }

                    .reactLogo {
                        width: 140px;
                        height: 140px;
                        background: url('../images/sprite_tech.png') -5px -1710px;
                    }
                }
            }
        }
    }    
}
